<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheckGym</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    {% if session['match_found'] %}

        <p>Welcome! You have a match.</p>
    {% else %}
     
        <p>No match found. Please log in.</p>
    {% endif %}
    <header>
        <div class="hDiv"></div>
        <div class="hMenu">
            <div class="leftmenu">
                <div class="hLogo">
                    <a href="#"><img src="../static/imges/Logo.png" alt="logo"></a>
                </div>
                <div class="menu">
                    <a href="#">출석하기</a>
                    <a href="#">퇴실하기</a>
                </div>
            </div>
            <div class="authMenu">
                <p class="wideText">문찬영(20404)님 환영합니다</p>
                <a href="./main_logout.html">LogOut</a>
                <a href="./signin.html">Sign In</a>
            </div>
        </div>
    </header>
    <section>
        <div class="notice">
            <p>헬스장 개방시간: 16:00 ~ 18:00</p>
        </div>
        <div class="banner">
            <div class="bannerImg"><input type="button" value="출석체크" onClick="location.href='login.html'"></div>   
        </div>
        
        <p class="learnEx">운동 배우러 가기</p>
        <div class="conImg">
            <a href="https://www.youtube.com/watch?v=trZQjegcRx0">
                <div class="Con1"></div>
                <p>Lat Pull Down</p>
            </a>
            <a href="https://www.youtube.com/watch?v=v_ZkxWzYnMc">
                <div class="Con2"></div>
                <p>Side Lateral Raise</p>
            </a>
            <a href="https://www.youtube.com/watch?v=_RlRDWO2jfg">
                <div class="Con3"></div>
                <p>Shoulder Press</p>
            </a>
        </div>
    </section>
</body>
</html>