<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="../static/css/login.css">
    
</head>
<body>
    <header>
        <a href="#"><img src="../static/imges/Logo.png" alt=""></a>
    </header>
    <section>
        <p>짐체크 회원가입하기</p>
        <form method="post" action="{{ url_for('signin') }}">
            <div class="input">
                <input type="email" placeholder="이메일" id="email" name="email"> <br>
                <input type="password" placeholder="비밀번호" id="pw" name="pw">
            </div>
            <input type="submit" value="회원가입" id="signInBtn">
        </form>
    </section>
    

</body>
</html>